<p *ngIf="!loaded">Wczytywanie wpisów...</p>

<div *ngIf="loaded">
  <div class="editor">
    <div class="editor-body" *ngIf="editorDisplayed">
      <editor [postMode]="true"></editor>
    </div>
    <p *ngIf="!editorDisplayed">
      <button class="btn btn-second btn-submit right" (click)="showEditor()">Dodaj wpis</button>
    </p>
  </div>

  <div *ngFor="let post of posts; let index = index" class="post-body">
    <div class="post-header">
      <img src="{{(globalService.getUser(post.author) | async)?.photoURL}}"
           class="post-photo"
           [class.male]="(globalService.getUser(post.author) | async)?.gender == 'male'"
           [class.female]="(globalService.getUser(post.author) | async)?.gender == 'female'"/>

      <div class="credit">
      <span *ngIf="(globalService.getUser(post.author) | async)?.firstname" class="author-name">
        {{(globalService.getUser(post.author) | async)?.firstname}}
        {{(globalService.getUser(post.author) | async)?.surname}}
      </span>

        <span *ngIf="!(globalService.getUser(post.author) | async)?.firstname" class="author-name">
        {{(globalService.getUser(post.author) | async)?.$key}}
      </span>
        <small title="{{post.date}}">{{post.date | when}}</small>
      </div>
      <div class="post-options">
        <a [routerLink]="['/post', post.$key]" title="Szczegóły wpisu">
          <i class="fa fa-external-link-square" aria-hidden="true"></i>
        </a>
        <i class="fa fa-plus-square" aria-hidden="true"></i>
      </div>
    </div>

    <div *ngIf="homepageService.posts | async" class="post-content-container">
      <div class="post-content"
           [class.post-expanded]="expandedPosts.indexOf(index) !== -1"
           [innerHTML]="getPostContent(post.content, index)" #postDiv></div>

      <button *ngIf="getHeight(postDiv) && expandedPosts.indexOf(index) === -1"
              (click)="expand(index)"
              class="expandButton">
        Pokaż więcej
      </button>
    </div>

    <div class="post-footer">
      <div class="post-menu">
        <ul>
          <li><i class="fa fa-commenting" aria-hidden="true"></i> Skomentuj</li>
          <li><i class="fa fa-share-alt" aria-hidden="true"></i> Udostępnij</li>
          <li><i class="fa fa-flag" aria-hidden="true"></i> Zgłoś</li>
        </ul>
      </div>
    </div>
  </div>
</div>
