@import '../../colors.sass'

.post-body:hover .post-menu
  visibility: visible

.post-body
  margin-bottom: 20px
  padding: 20px
  font-size: 13px
  background-color: #313131
  -webkit-border-radius: 4px
  -moz-border-radius: 4px
  border-radius: 4px

  .post-menu
    margin-top: 10px
    visibility: hidden
    color: white

    ul
      list-style: none

      li
        display: inline-block
        margin-right: 20px

  .post-header
    display: flex

    .post-options
      margin-left: auto
      font-size: 17px
      align-self: center

      i
        margin-left: 5px

    .credit
      align-self: center

      small
        display: block

  .post-content
    padding: 20px 0px 0px

  .post-footer
    padding: 10px 20px
    background: #3a3a3a
    margin: 20px -20px -20px
    border-radius: 0 0 4px 4px

  .tags
    color: white

  .author-name
    color: #fff
    font-weight: bold

  .male
    border-right: 3px solid $hope

  .female
    border-right: 3px solid $scarlet

.post-photo
  width: 50px
  height: 50px
  -webkit-border-radius: 4px 0 0 4px
  -moz-border-radius: 4px 0 0 4px
  border-radius: 4px 0 0 4px
  float: left
  margin-right: 20px

.editor
  margin-bottom: 20px

  .editor-body
    padding: 20px
    margin: -20px -20px 20px
    background: #313131

.editor-body:before
  content: ""
  width: 0
  height: 0
  margin-top: -35px
  border-bottom: 15px solid #313131
  border-left: 15px solid transparent
  border-right: 15px solid transparent
  position: absolute

.post-write-container
  overflow: hidden

.post-write
  float: right
  overflow: hidden
  list-style: none

  li
    display: inline-block
    margin-left: 10px
