<div class="editor">
  <div class="editor-body" *ngIf="editorDisplayed">
    <editor [postMode]="true"></editor>
  </div>
  <p *ngIf="!editorDisplayed"><button class="btn btn-second btn-submit right" (click)="showEditor()">Napisz coś</button></p>
</div>

<div class="post-body">

  <div class="post-header">
    <img src="{{globalService._authentication.photoURL}}" class="post-photo male" />
    <div class="credit">
      <span class="author-name">{{globalService._authentication.firstname}} {{globalService._authentication.surname}}</span>
      <small>5 godzin temu</small>
    </div>
    <div class="post-options">
      <i class="fa fa-external-link-square" aria-hidden="true"></i>
      <i class="fa fa-plus-square" aria-hidden="true"></i>
    </div>
  </div>

  <div class="post-content">
    <!-- start slipsum code -->

    Integer elementum massa at nulla placerat varius. Suspendisse in libero risus, in interdum massa. Vestibulum ac leo vitae metus faucibus gravida ac in neque. Nullam est eros, suscipit sed dictum quis, accumsan a ligula. In sit amet justo lectus. Etiam feugiat dolor ac elit suscipit in elementum orci fringilla. Aliquam in felis eros. Praesent hendrerit lectus sit amet turpis tempus hendrerit. Donec laoreet volutpat molestie. Praesent tempus dictum nibh ac ullamcorper. Sed eu consequat nisi. Quisque ligula metus, tristique eget euismod at, ullamcorper et nibh. Duis ultricies quam egestas nibh mollis in ultrices turpis pharetra. Vivamus et volutpat mi. Donec nec est eget dolor laoreet iaculis a sit amet diam.

    <!-- end slipsum code -->

    <div class="post-menu">
      <ul>
        <li><i class="fa fa-commenting" aria-hidden="true"></i> Skomentuj</li>
        <li><i class="fa fa-share-alt" aria-hidden="true"></i> Udostępnij</li>
        <li><i class="fa fa-flag" aria-hidden="true"></i> Zgłoś</li>
      </ul>
    </div>
  </div>
  <div class="post-footer">
    <span class="tags">#pytanie #film #conowego</span>
  </div>
</div>

<div class="post-body">
  <div class="post-header">
    <img src="http://orig10.deviantart.net/c0e0/f/2014/215/7/e/renniimarco_by_rennii_marco-d7til5w.jpg" class="post-photo female" />
    <div class="credit">
      <span class="author-name">Karolina Kosakowska</span>
      <small>5 godzin temu</small>
    </div>
    <div class="post-options">
      <i class="fa fa-external-link-square" aria-hidden="true"></i>
      <i class="fa fa-plus-square" aria-hidden="true"></i>

    </div>
  </div>
  <div class="post-content">
    <!-- start slipsum code -->

    Yeah, I like animals better than people sometimes... Especially dogs. Dogs are the best. Every time you come home, they act like they haven't seen you in a year. And the good thing about dogs... is they got different dogs for different people. Like pit bulls. The dog of dogs. Pit bull can be the right man's best friend... or the wrong man's worst enemy. You going to give me a dog for a pet, give me a pit bull. Give me... Raoul. Right, Omar? Give me Raoul.

    <!-- end slipsum code -->
    <div class="post-menu">
      <ul>
        <li><i class="fa fa-commenting" aria-hidden="true"></i> Skomentuj</li>
        <li><i class="fa fa-share-alt" aria-hidden="true"></i> Udostępnij</li>
        <li><i class="fa fa-flag" aria-hidden="true"></i> Zgłoś</li>
      </ul>
    </div>
  </div>
  <div class="post-footer">
    <span class="tags">#pytanie #film #conowego</span>
  </div>
</div>

<div class="post-body">
  <div class="post-header">
    <img src="http://orig08.deviantart.net/d396/f/2014/278/4/e/durarara_avatar__king_izaya_by_bittersweethorizon-d81polw.png" class="post-photo male" />
    <div class="credit">
      <span class="author-name">Izaya Jakiśtam</span>
      <small>5 godzin temu</small>
    </div>
    <div class="post-options">
      <i class="fa fa-external-link-square" aria-hidden="true"></i>
      <i class="fa fa-plus-square" aria-hidden="true"></i>
    </div>
  </div>
  <div class="post-content">
    <!-- start slipsum code -->

    Look, just because I don't be givin' no man a foot massage don't make it right for Marsellus to throw Antwone into a glass motherfuckin' house, fuckin' up the way the nigger talks. Motherfucker do that shit to me, he better paralyze my ass, 'cause I'll kill the motherfucker, know what I'm sayin'?

    <!-- end slipsum code -->
    <div class="post-menu">
      <ul>
        <li><i class="fa fa-commenting" aria-hidden="true"></i> Skomentuj</li>
        <li><i class="fa fa-share-alt" aria-hidden="true"></i> Udostępnij</li>
        <li><i class="fa fa-flag" aria-hidden="true"></i> Zgłoś</li>
      </ul>
    </div>
  </div>
  <div class="post-footer">
    <span class="tags">#pytanie #film #conowego</span>
  </div>
</div>
