<div class="signin-wrapper">
  <form [formGroup]="userForm" (ngSubmit)="registerService.registerUser(userForm.value)">
    <p>
      <span class="required" *ngIf="loginCtrl.errors?.required">*</span>
      <input formControlName="login" class="input xl" type="text" placeholder="Podaj login" #loginField>
    </p>
    <p class="hideValidator" [class.showValidator]="!loginCtrl.valid && loginCtrl.touched">To pole jest wymagane i powinno zawierać od 4 do 30 znaków.</p>
    <p>
      <span class="required" *ngIf="passwordCtrl.errors?.required">*</span>
      <input formControlName="password" class="input xl" type="password" placeholder="Podaj haslo" #password />
    </p>
    <p class="hideValidator" [class.showValidator]="!passwordCtrl.valid && passwordCtrl.touched">To pole jest wymagane i powinno zawierać od 7 do 30 znaków.</p>
    <p>
      <span class="required" *ngIf="emailCtrl.errors?.required">*</span>
      <input formControlName="email" class="input xl" type="email" placeholder="Podaj adres e-mail" #email />
    </p>
    <p class="hideValidator" [class.showValidator]="!emailCtrl.valid && emailCtrl.touched">To pole jest wymagane.</p>
    <hr>
    <p class="label center">Przedstawisz się nam?</p>
    <hr>
    <p>
      <span class="required" *ngIf="firstnameCtrl.errors?.required">*</span>
      <input formControlName="firstname" class="input xl" type="text" placeholder="Jak Ci na imię?" #firstname />
    </p>
    <p class="hideValidator" [class.showValidator]="!firstnameCtrl.valid && firstnameCtrl.touched">To pole może zawierać wyłącznie litery i długość od 2 do 20 znaków.</p>
    <p>
      <span class="required" *ngIf="surnameCtrl.errors?.required">*</span>
      <input formControlName="surname" class="input xl" type="text" placeholder="Jeszcze tylko nazwisko" #surname />
    </p>
    <p class="hideValidator" [class.showValidator]="!surnameCtrl.valid && surnameCtrl.touched">To pole może zawierać wyłącznie litery i długość od 2 do 20 znaków.</p>
    <p>
      <input id="male" type="radio" name="gender" value="male" (click)="registerService.setGender(male.value)" checked #male/>
      <label for="male">Mężczyzna</label>
      <input id="female" type="radio" name="gender" value="female" (click)="registerService.setGender(female.value)" #female/>
      <label for="female">Kobieta</label>
    </p>
    <p><input class="btn btn-first btn-submit xl full-width" type="submit" value="Zarejestruj sie" [disabled]="!userForm.valid" /></p>
  </form>

  <div *ngIf="registerService.message" class="alert signin-alert"
     [class.alert-warning]="registerService.problem"
     [class.alert-success]="!registerService.problem">
    {{registerService.message}} <div *ngIf="!registerService.problem" class="signal"></div>
  </div>
</div>
